#include <windows.h>

MAINMENU MENU
LANGUAGE 1033, 1033
{
POPUP "&Disk"
{
	MENUITEM "&Kreiraj...",  102
	MENUITEM SEPARATOR
	POPUP "&Uvezi"
	{
		MENUITEM "&WAVE fajl...",  120
		MENUITEM "&MIDI fajl...",  121
	}
	MENUITEM SEPARATOR
	MENUITEM "&Prekid",  101
}
POPUP "Sintisajzerdfgdgdg"
{
	MENUITEM "&Resetuj spektar",  140
}
POPUP "&Obrada"
{
	MENUITEM "&Dupliraj",  111
}
POPUP "&Plug-ins"
{
	MENUITEM "&Postavke",  103
}
POPUP "&Pomoc"
{
	MENUITEM "Pomoc",  133
}
}

JEBIGA DIALOG 59, 75, 229, 200
STYLE DS_MODALFRAME | WS_MINIMIZEBOX | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "hjgfctycj"
LANGUAGE LANG_ROMANIAN, 0x1
FONT 8, "TAHOMA"
{
   CONTROL "U redu", 6, BUTTON, BS_DEFPUSHBUTTON | BS_PUSHLIKE | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 8, 180, 48, 16 
   CONTROL "48", 10, EDIT, ES_LEFT | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 96, 16, 32, 12 
   CONTROL "384", 11, EDIT, ES_LEFT | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 96, 32, 32, 12 
   CONTROL "120", 12, EDIT, ES_LEFT | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 96, 48, 32, 12 
   CONTROL "48", 13, EDIT, ES_LEFT | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 96, 64, 32, 12 
   CONTROL "7", 14, EDIT, ES_LEFT | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 96, 80, 32, 12 
   CONTROL "12", 15, EDIT, ES_LEFT | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 96, 96, 32, 12 
   CONTROL "16", 16, EDIT, ES_LEFT | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 96, 112, 32, 12 
   CONTROL "Rezolucija", 20, STATIC, SS_RIGHT | SS_SUNKEN | WS_CHILD | WS_VISIBLE | WS_GROUP, 8, 16, 72, 12 
   CONTROL "Trajanje", 21, STATIC, SS_RIGHT | SS_SUNKEN | WS_CHILD | WS_VISIBLE | WS_GROUP, 8, 32, 72, 12 
   CONTROL "Tempo", 22, STATIC, SS_RIGHT | SS_SUNKEN | WS_CHILD | WS_VISIBLE | WS_GROUP, 8, 48, 72, 12 
   CONTROL "Tonika", 23, STATIC, SS_RIGHT | SS_SUNKEN | WS_CHILD | WS_VISIBLE | WS_GROUP, 8, 64, 72, 12 
   CONTROL "Lestvica", 24, STATIC, SS_RIGHT | SS_SUNKEN | WS_CHILD | WS_VISIBLE | WS_GROUP, 8, 80, 72, 12 
   CONTROL "Ritam", 25, STATIC, SS_RIGHT | SS_SUNKEN | WS_CHILD | WS_VISIBLE | WS_GROUP, 8, 96, 72, 12 
   CONTROL "Jacina", 26, STATIC, SS_RIGHT | SS_SUNKEN | WS_CHILD | WS_VISIBLE | WS_GROUP, 8, 112, 72, 12 
}

